/* You can add global styles to this file, and also import other style files */

@use 'assets/styles/variables' as *;
@use 'assets/styles/mixins' as *;
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
    @include reset;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: $ofwhite;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
    background-color: $blue;
    cursor: pointer;
}

.bottom {
    @include bottom;
}

.social {
    @include social;
}

.title {
    @include title;
}

.field {
    position: relative;
    margin-top: $com-spacing-6;
    .form-control {
        @include input;
    }
    label {
        display: block;
        color: $blak;
        margin-bottom: $com-spacing-1;
        text-transform: capitalize;
    }
    .bottom {
        width: $fullwidth;
        height: 52px;
    }
    .error {
        color: $red;
        margin-top: $com-spacing-1;
    }
    .toggle-pass {
        position: absolute;
        right: $com-spacing-3;
        top: 44px;
        cursor: pointer;
        color: $blak;
        background: $ofwhite;
        padding: $zero $com-spacing-3;
        border-radius: 8px;
        font-size: 13px;
    }
}

select.form-control {
    -webkit-appearance: none;
    background: none !important;
    background: $white url(assets/images/arrow.svg) right 12px center no-repeat !important;
}

.alert {
    display: flex;
    align-items: center;
    margin-top: $com-spacing-6;
    padding: $com-spacing-4;
    border-radius: 4px;
    height: 60px;
    .text-mass {
        margin: $zero !important;
        margin-left: $com-spacing-3 !important;
    }
    p {
        color: $white;
        margin: $zero !important;
    }
    &.alert-success {
        background: linear-gradient(303.91deg, #1F7A66 7.57%, #60B3A7 94.39%);
    }
    &.alert-danger {
        background: linear-gradient(303.91deg, #C24848 7.57%, #D34A4A 94.39%);
    }
}

.loginpage {
    @include flex;
    position: relative;
    width: $fullwidth;
    padding: $zero $com-spacing-3;
    height: 100vh;
    @media (max-width: 999px) {
        //   height: auto;
    }
    &::before {
        content: "";
        position: absolute;
        left: $zero;
        bottom: $zero;
        width: $fullwidth;
        height: $fullwidth;
        clip-path: polygon(0% 55%, 100% 40%, 100% 100%, 0% 100%);
        background-color: $dark;
    }
    .title {
        text-align: center;
    }
    .inner {
        position: relative;
        margin: $zero $auto;
        width: 460px;
        background: $white;
        padding: $com-spacing-7;
        border-radius: 8px;
        box-shadow: 4px 4px 60px #0000000d;
        @media (max-width: 999px) {
            padding: $com-spacing-6;
        }
    }
}

//  End login
.employees,
.dashboard {
    &.unactive {
        .sidebar {
            left: -280px;
            @media (max-width: 999px) {
                left: $zero;
            }
        }
        .page-content {
            padding-left: $zero;
            .header {
                width: $fullwidth;
                .burger {
                    height: $zero;
                    &-line {
                        background: $red;
                        &:nth-child(1) {
                            rotate: 135deg;
                        }
                        &:nth-child(2) {
                            width: $fullwidth;
                            rotate: -135deg;
                            top: $zero;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                    // Responsive Media Query
                }
            }
        }
    }
    .sidebar {
        position: fixed;
        top: $zero;
        left: $zero;
        width: 280px;
        height: $fullwidth;
        overflow: auto;
        z-index: 1008;
        overflow: hidden;
        overflow-y: scroll;
        background: #fff;
        padding-bottom: 24px;
        border-right: 1px solid #F2EDED;
        @include transition(all 0.5s ease-in-out 0s);
        @media (max-width: 999px) {
            left: -280px;
            top: 60px;
        }
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        .logo {
            display: flex;
            align-items: center;
            padding: $zero $com-spacing-3;
            border-bottom: 1px solid #F2EDED;
            height: 80px;
            img {
                max-width: 90%;
            }
        }
        .menu {
            width: $fullwidth;
            margin-top: $com-spacing-6;
            a {
                position: relative;
                display: flex;
                align-items: center;
                width: $fullwidth;
                color: $blak;
                text-transform: capitalize;
                margin-top: $com-spacing-4;
                padding: $zero $com-spacing-3;
                @include transition(all 0.5s ease-in-out 0s);
                .icon {
                    @include flex;
                    min-width: 40px;
                    max-width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    margin-right: $com-spacing-3;
                    box-shadow: 0 3px 12px #00000014;
                    @include transition(all 0.5s ease-in-out 0s);
                    svg,
                    img {
                        width: 18px;
                        height: 18px;
                        @include transition(all 0.5s ease-in-out 0s);
                    }
                }
                &.active,
                &:hover {
                    color: $blue;
                    .icon {
                        // background: $blue;
                        svg,
                        img {
                            fill: $blue;
                        }
                    }
                }
            }
        }
    }
    .page-content {
        position: relative;
        width: $fullwidth;
        // min-height: 100vh;
        padding-left: 280px;
        @include transition(all 0.5s ease-in-out 0s);
        @media (max-width: 999px) {
            padding: $zero;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: $zero;
            right: $zero;
            width: calc(100% - 280px);
            padding: $zero $com-spacing-4;
            height: 80px;
            background: $white;
            border-bottom: 1px solid #F2EDED;
            z-index: 1002;
            @include transition(all 0.5s ease-in-out 0s);
            @media (max-width: 999px) {
                width: $fullwidth;
                padding: $zero $com-spacing-3;
                height: 60px;
            }
            .burger {
                @include flex;
                position: relative;
                cursor: pointer;
                user-select: none;
                width: 26px;
                height: 18px;
                &-line {
                    position: absolute;
                    display: block;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    opacity: 1;
                    border: none;
                    outline: none;
                    background: $blak;
                    @include transition(all 0.5s ease-in-out 0s);
                    &:nth-child(1) {
                        top: 0px;
                    }
                    &:nth-child(2) {
                        top: 0.5rem;
                        width: 80%;
                    }
                    &:nth-child(3) {
                        top: 1rem;
                        width: 60%;
                    }
                }
                // Responsive Media Query
            }
            .nameuser {
                display: flex;
                align-items: center;
                .photo {
                    margin-right: $com-spacing-2;
                    width: 40px;
                    height: 40px;
                    background: $ofwhite;
                    @include border-radius(50%);
                    overflow: hidden;
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        object-fit: cover;
                    }
                }
                p {
                    width: 136px;
                    text-transform: capitalize;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: $blak;
                    @media (max-width: 999px) {
                        width: 92px;
                    }
                }
            }
        }
    }
    .innercontent {
        padding: $com-spacing-6 $com-spacing-4;
        margin-top: 80px;
        min-height: calc(100vh - 80px);
        @media (max-width: 999px) {
            margin-top: 60px;
            min-height: calc(100vh - 60px);
            padding: $com-spacing-6 $com-spacing-3;
        }
        &.flex {
            @include flex;
            text-align: center;
            .title {
                text-align: center;
                line-height: 100%;
            }
            p {
                text-align: center;
                margin-top: $com-spacing-3;
                font-size: 20px;
                color: #666565;
                @media (max-width: 999px) {
                    font-size: 16px;
                }
            }
            .bottom {
                margin-top: $com-spacing-6;
            }
        }
        .bottom {
            border-radius: 8px;
        }
        .minhead {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $com-spacing-4;
    margin-top: $com-spacing-4;
    @media (max-width: 1199px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 999px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .employee-card {
        background: $white;
        padding: $com-spacing-5;
        border-radius: 12px;
        border: 1px solid $ofwhite;
        .title {
            font-size: 20px;
        }
        p {
            margin-top: $com-spacing-1;
            color: #333;
            text-transform: capitalize;
            .red {
                color: $red;
            }
            .green {
                color: $green;
            }
        }
        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: $com-spacing-4;
            border-top: 1px solid $ofwhite;
            padding-top: $com-spacing-4;
            p {
                color: $blak;
                margin: $zero;
            }
            .flex {
                display: flex;
                align-items: center;
                a {
                    position: relative;
                    @include flex;
                    min-width: 32px;
                    max-width: 32px;
                    height: 32px;
                    cursor: pointer;
                    background: #0095da29;
                    border-radius: 50%;
                    margin-right: $com-spacing-2;
                    &:last-child {
                        margin-right: $zero;
                    }
                    svg {
                        width: 18px;
                        height: 18px;
                    }
                    span {
                        visibility: hidden;
                        background-color: $blak;
                        color: $white;
                        text-align: center;
                        border-radius: 6px;
                        padding: $zero $com-spacing-2;
                        position: absolute;
                        bottom: 125%;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: opacity 0.3s;
                        white-space: nowrap;
                        font-size: 12px;
                        text-transform: capitalize;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: $blak transparent transparent transparent;
                        }
                    }
                    &:hover span {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.empty-employees {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: $blue;
    text-transform: capitalize;
    margin-top: $com-spacing-6;
    .photo {
        @include flex;
        width: $fullwidth;
        max-height: 300px;
        margin-bottom: $com-spacing-6;
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
        }
    }
}

.boxfilter {
    display: flex;
    border-block: 1px solid #dfdfdf;
    padding: $com-spacing-4 $zero;
    margin-top: $com-spacing-4;
    padding-top: $zero;
    .field {
        margin: $com-spacing-4 $com-spacing-4 $zero $zero;
        &:last-child {
            margin-right: $zero;
        }
        .form-control {
            height: 42px;
            background: $white;
            border: $zero;
            margin: $zero;
            padding-right: 54px;
            min-width: 300px;
            max-width: 300px;
            border-radius: 8px;
        }
        select.form-control {
            min-width: 200px;
            max-width: 200px;
        }
        svg {
            position: absolute;
            right: 12px;
            top: 11px;
        }
    }
}

.modal {
    @include flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: $zero $com-spacing-3;
    z-index: 1010;
    .modal-content {
        background: $white;
        border-radius: 10px;
        padding: 20px;
        width: 500px;
        .minhead {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: $com-spacing-4;
            border-bottom: 1px solid $ofwhite;
            .title {
                font-size: 22px;
            }
            .close {
                cursor: pointer;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .field {
            margin: $zero;
            margin-top: $com-spacing-3;
        }
        .popup-buttons {
            @include flex;
            padding-top: $com-spacing-4;
            margin-top: $com-spacing-4;
            border-top: 1px solid $ofwhite;
            .bottom {
                height: 40px;
            }
            .close {
                @include flex;
                min-width: 140px;
                max-width: 140px;
                height: 40px;
                border: 1px solid $blue;
                border-radius: 60px;
                margin-left: $com-spacing-3;
                color: $blue;
                cursor: pointer;
            }
        }
    }
}